[user]
	name = Bojan Popovic
	email = neuromancer999@gmail.com
	signingkey = F6FE43CD5758E83BB3106F8F3DD47242B7909BA8
[core]
	autocrlf = input
	editor = nvim
[push]
	default = simple
[rebase]
	autosquash = true
[alias]
    # auto amend
	can = commit --amend --no-edit
	uncommit = reset --soft HEAD^

    # logs 
	sla = log --oneline --decorate --graph --all
	glog = log -E -i --grep
    recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
    overview = log --all --since='2 weeks' --oneline --no-merges
    recap = log --all --oneline --no-merges --author=neuromancer999@gmail.com
    today = log --since=00:00:00 --all --no-merges --oneline --author=neuromancer999@gmail
    graph = log --graph --all --decorate --stat --date=iso

    # cleanup local merged and deleted branches
    delete-merged = git branch --merged | grep -v \"^\\s*master$\" | grep -v \"\\*\" | xargs -n 1 git branch -d
    # prune remote
    pru = git remote prune origin
